<div class="modal fade" id="modalDetalleEmpleado" tabindex="-1" aria-hidden="true" th:fragment="detalleEmpleado">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title"><i class="fas fa-user-circle me-2"></i>Detalles del Usuario</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p><strong>Nombre:</strong> <span id="detalleNombre"></span></p>
        <p><strong>Apellidos:</strong> <span id="detalleApellidos"></span></p>
        <p><strong>DNI:</strong> <span id="detalleDni"></span></p>
        <p><strong>Dirección:</strong> <span id="detalleDireccion"></span></p>
        <p><strong>Teléfono:</strong> <span id="detalleTelefono"></span></p>
      </div>
    </div>
  </div>
</div>
